NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_WEB_HOST=
NEXT_PUBLIC_WEB_PORT=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
GITHUB_ID=
GITHUB_SECRET=
MARIADB_HOST=
MARIADB_USER=
MARIADB_DATABASE=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
DATABASE_URL=
TIME_OUT=